$desktop: 1024px;
$tablet: 768px;

@mixin desktop {
  @media (min-width: #{$desktop + 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

$colors: (primary: #121314,
  secondary: #66d9ef,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}